* {
    font-family: monospace;
    background-color: dimgray;
}
h1{
    padding-top: 17px;
}
h1, h2 {
    color: black;
    text-shadow: 2px 2px 2px darkgoldenrod;
    text-align: center;
}
h2{
    text-align: left;
}
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: darkgoldenrod;
}

#navlink{
    float: left;
    width: 31%;
    padding: 5px;
    margin: 1px;
    background-color: yellow;
    text-align: center;    
}

#navlink:hover {
    background-color: grey;
    color: azure;
}

#navlink:active {
    background-color: dimgrey;
    color: darkgoldenrod;
}

#navlink:link {
    color: black;
    text-decoration: none;
}

#navlink:visited {
    color: black;
}

#adform {
    background-color: azure;
    color: black;
    width: 45%;
    height: 30%;
}

#dropdown {
    background-color: azure;
    color: black;
}

#provName {
    background-color: azure;
    color: black;
    width: 10%;
}

#subButton {
    background-color: azure;
    color: black;
}

